.web-design-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.web-design-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    flex-direction: column;
    gap: 3rem;
  }
}
.web-design-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 0 4rem;
  & img {
    width: 70px;
    height: auto;
  }
}
.bigger-icon {
  width: 120px !important;
}
