.button {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #6bfbce;
  border-radius: 2rem;
  color: #fcfff9;
  cursor: pointer;
  transition: color 0.4s ease 0.2s;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 4rem;
  height: 4rem;
  background-color: #6bfbce;
  border-radius: 50%;
  transform: translate(-50%, 50%) scale(0);
  transition: transform 0.9s ease;
  z-index: 0;
}

.button:hover::before {
  transform: translate(-50%, 50%) scale(8);
}

.button:hover {
  color: rgba(8, 16, 1, 1);
}
.button span {
  position: relative;
  z-index: 1;
}

.next-button {
  background-color: rgba(107, 251, 206, 1);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
}
.arrow-button {
  background-color: rgba(107, 251, 206, 1);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 8px;
  transform: rotate(90deg);
  overflow: hidden;
}

.next-arrow {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  height: auto;
  animation: arrowSlide 2s ease-in-out infinite;
}

@keyframes arrowSlide {
  0% {
    left: -30px;
    opacity: 0;
  }
  20% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  50% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  80% {
    left: calc(100% + 30px);
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    left: -30px;
    opacity: 0;
  }
}
