.logo-carousel-container {
  padding-bottom: 10rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.two-lines {
  position: absolute;
  max-width: 15vh;
  bottom: 3%;
  right: 5%;
}

.logo-carousel {
  animation: 10s slide infinite linear;
  display: inline-block;
}

.logo-carousel-container:hover .carousel {
  animation-play-state: paused;
}

.logo-carousel-item {
  text-align: center;
  display: inline-block;
}

.logo-carousel-image {
  max-width: 100%;
  height: 150px;
  object-fit: contain;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
