/* PROJECT CARD TAG */

.work-done {
  position: absolute;
  top: 0%;
  right: 0%;
  color: #081001;
  display: flex !important;
  justify-content: end;
  gap: 0.5rem;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(-50%);
  opacity: 0;
}

.work-done-options {
  border: 1px solid #081001;
  border-radius: 20px;
  padding: 0.5% 10%;
  background-color: #6bfbce;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card:hover .work-done {
  transform: translateX(0);
  opacity: 1;
}

/* PROJECT CARD */

.project {
  box-sizing: border-box;
  width: 90% !important;
}
.project-card {
  overflow: hidden;
  position: relative;
}

.project-card-link {
  cursor: pointer;
}

.project-image {
  position: relative;
  width: 600px;
  height: 400px;
  mask-image: url("/project-images/project-card.png");
  mask-size: 100% 100%;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0.4px !important;
  margin: 0 !important;
}

.project-image .background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: url("/project-images/project-card.png");
  mask-size: 100% 100%;
}
.project-details {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
}

.title-date-container {
  display: flex;
  align-items: center;
}

.project-date {
  margin-right: 1rem;
}

.project-title::before {
  content: "•";
  color: white;
  margin-right: 12px;
  font-size: 1rem;
}

/* PROJECT LIST */

.projects-list {
  position: relative;
  padding-bottom: 5rem;
  overflow: hidden;
  padding-top: 5rem;
}

.projects-list-title {
  position: absolute;
  top: 0%;
  left: 55%;
}
.projects-list-title-mobil {
  margin-bottom: 5rem;
  display: none;
}

.first-row-title::before {
  content: "•";
  color: white;
  margin-right: 12px;
  font-size: 1rem;
}
.first-row-title {
  margin-left: 0.5rem;
}

.line-projects-1 {
  left: 20%;
  top: 0%;
  max-width: 4% !important;
  position: absolute;
}
.line-projects-2 {
  left: 15%;
  bottom: 3%;
  max-width: 6% !important;
  position: absolute;
}

.line-projects-4 {
  left: 48%;
  top: 10%;
  max-width: 4% !important;
  position: absolute;
}

.line-projects-6 {
  left: 48%;
  bottom: 10%;
  max-width: 4% !important;
  position: absolute;
}
.projects-two-lines {
  left: 48%;
  bottom: 60%;
  max-width: 5% !important;
  position: absolute;
  transform: rotate(90deg);
}

.line-projects-multi {
  bottom: 1%;
  right: 10%;
  max-width: 12% !important;
  position: absolute;
}

.display-none {
  display: none;
}

/* PROJECT DETAIL */

.detail-head-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: url("/project-images/detail-head.png");
  mask-size: 100% 100%;
  margin-bottom: -4px;
}
.gallery-image-container-3 {
  mask-image: url("/project-images/gallery-left.png");
  mask-size: 100% 100%;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0.4px !important;
  margin-bottom: 2.5rem;
}

.gallery-image-container-4 {
  mask-image: url("/project-images/gallery-right.png");
  mask-size: 100% 100%;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0.4px !important;
}
.gallery-image {
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-radius: 35px;
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  margin-bottom: 2.5rem;
}
.gallery-image-3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: url("/project-images/gallery-left.png");
  mask-size: 100% 100%;
  margin-bottom: -0.3rem !important;
}
.gallery-image-4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: url("/project-images/gallery-right.png");
  mask-size: 100% 100%;
  margin-bottom: -0.3rem !important;
}
.detail-banner-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  mask-image: url("/project-images/detail-banner.png");
  mask-size: 100% 100%;
  margin-bottom: -1rem !important;
}
.green-decor {
  position: absolute;
  bottom: 7%;
  right: 2%;
  max-width: 4%;
}
.detail-banner-image-2 {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 35px;
  border: 0.4px solid rgba(128, 128, 128, 0.5);
}

.detail-banner {
  background-color: rgba(128, 128, 128, 0.5);
  object-fit: cover;
  mask-image: url("/project-images/detail-banner.png");
  mask-size: 100% 100%;
  padding: 0.4px;
  margin-bottom: 5rem;
}
.banner-wrapper {
  position: relative;
}
.detail-banner-2 {
  margin-bottom: 5rem;
  margin-top: 5rem !important;
}

.gallery-images {
  margin-top: 5rem;
}
.detail-head {
  margin-top: 1rem !important;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: url("/project-images/detail-head.png");
  mask-size: 100% 100%;
  padding: 0.3px !important;
}

.tag-col {
  margin-right: 1rem;
  color: black;
}

.detail-back::before {
  content: "•";
  color: white;
  margin-right: 12px;
  font-size: 1rem;
}

.detail-container {
  margin-top: 5rem;
}
.detail-head-row {
  position: relative;
}

.floating-title {
  position: absolute;
  top: 3%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.tag-outer {
  display: flex;
  justify-content: end;
}
.detail-description {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.description-options {
  padding: 0 !important;
}
.banner-gallery-images {
  position: relative;
  overflow: hidden;
}

.detail-rotating-label {
  position: absolute;
  left: 50%;
  bottom: 20%;
}
@media (min-width: 992px) {
  .projects-list-col:nth-child(even) {
    margin-top: 12rem;
  }
}
@media (min-width: 1202px) {
  .tag-outer {
    padding-right: 5rem !important;
  }
}
@media (max-width: 992px) {
  .green-decor {
    bottom: 10%;
    right: 1%;
    max-width: 5%;
  }

  .gallery-image {
    height: 500px;
  }

  .tag-outer {
    justify-content: start;
    padding-right: 0rem !important;
  }
  .projects-list-title {
    display: none;
  }
  .projects-list {
    padding-top: 0rem;
  }
  .line-projects-1 {
    display: none;
  }

  .project-card {
    width: 70%;
  }

  .projects-list-col:nth-child(even) {
    margin-left: 25% !important;
  }

  .projects-list-title-mobil {
    display: block;
  }
}

@media (max-width: 768px) {
  .detail-rotating-label {
    right: -15%;
    bottom: 58%;
  }

  .gallery-image-3 {
    mask-image: url("/project-images/gallery-left-mobile.png");
  }
  .gallery-image-4 {
    mask-image: url("/project-images/gallery-right-mobile.png");
  }
  .gallery-image-container-3 {
    mask-image: url("/project-images/gallery-left-mobile.png");
  }

  .gallery-image-container-4 {
    mask-image: url("/project-images/gallery-right-mobile.png");
  }

  .detail-banner-image {
    mask-image: url("/project-images/detail-banner-mobile.png");
  }
  .detail-banner {
    mask-image: url("/project-images/detail-banner-mobile.png");
  }

  .green-decor {
    bottom: 7%;
    right: 2%;
    max-width: 8%;
  }

  .detail-head-image {
    mask-image: url("/project-images/detail-head-mobil.png");
  }
  .detail-head {
    mask-image: url("/project-images/detail-head-mobil.png");
  }
  .floating-title {
    top: 0;
  }
  .float-text {
    font-size: 1.5rem !important;
  }
  .project-card {
    width: 100%;
  }
  .line-projects-2 {
    display: none;
  }
  .line-projects-multi {
    display: none;
  }

  .projects-list-col:nth-child(even) {
    margin-left: 0rem !important;
  }
  .project-image {
    position: relative;
    width: 400px;
    height: 500px;
    mask-image: url("/project-images/project-card-mobile.png");
  }
  .work-done {
    transform: translateX(-45%);
    height: 7%;
  }
  .project-image .background-img {
    mask-image: url("/project-images/project-card-mobile.png");
  }
}
