.who::before {
  content: "•";
  color: white;
  margin-right: 12px;
  font-size: 1rem;
}
.who {
  margin-left: 0.5rem;
}

.first-col-contact {
  margin-bottom: 2rem;
}
.second-col-contact {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.links-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.links-container {
  align-items: center;
  display: flex;
}
.contact-button {
  width: 13rem;
  height: 3rem;
}
.afla:hover {
  opacity: 0.7;
}

.afla {
  cursor: pointer;
  text-decoration: underline;
}
