/* TestimonalCard */

.testimonial-card {
  background-image: url("/testimonials/testimonials-card.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.testimonial-base-img {
  width: 100%;
  visibility: hidden;
}
.testimonial-base {
  position: relative;
}
.quote-img {
  position: absolute;
  top: 0;
  right: 5%;
  width: 16%;
}

/* Testimonials */

.testimonials-container {
  margin-bottom: 8rem;
}

.testimonials-header-row {
  margin-bottom: 5rem;
}

.testimonials-header::before {
  content: "•";
  color: white;
  margin-right: 12px;
  font-size: 1rem;
}

.testimonials-wrapper {
  position: relative;
  overflow: hidden;
}

.testimonial-cards-container {
  position: relative;
  height: 18rem;
  overflow: visible; /* Allows cards to overlap */
}

.testimonial-card-wrapper {
  position: absolute;
  transition: transform 0.5s ease;
}

.testimonial-slider-mobile {
  display: none !important;
}

.dots-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(37, 38, 35, 1);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: rgba(107, 251, 206, 1);
}

@media (max-width: 768px) {
  .testimonial-slider-row {
    display: none !important;
  }
  .testimonial-slider-mobile {
    display: block !important;
  }
}
