.service-conatiner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.services-carousel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10rem;
}
.info {
  margin-left: 5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.visual {
  width: 40%;
  position: relative;
  margin-bottom: 10rem;
  justify-content: center;
}

.info-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.service-options {
  margin-top: 1rem;
  width: 50%;
}
.service-option {
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 3.2rem;
}
.service-option.active {
  margin-left: 0;
  color: #6bfbce;
}

.green-line {
  margin-right: 1rem;
}

.service-text {
  width: 50%;
  overflow: hidden;
}
.visual-img {
  width: 80%;
  height: 100%;
  margin-left: 2rem;
}
.visual-label-container {
  position: absolute;
  bottom: 1%;
  left: 15%;
  z-index: 1000;
}
.info-progress {
  position: relative;
  z-index: 1000;
  width: 100%;
  min-height: 55vh;
}
.info-progress-mobil {
  position: relative;
  display: none;
  width: 100%;
  align-self: center;
  min-height: 65vh;
}

.progress-slider {
  height: 100%;
  width: 95%;
  position: absolute;
}
.image-slider {
  height: 100%;

  position: absolute;
}

.image-slider-container {
  height: 100%;
  position: relative;
}
.progress-base {
  width: 90%;
  height: 90%;
  margin-left: 2rem;
}

.progress-element {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0%;
  left: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-left: 2rem;
  z-index: 1000;
}

.progress-container {
  width: 100%;
  height: 29%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 3rem;
}
.progress-row {
  width: 100%;
  height: 28%;
  display: flex;
  margin-top: 1rem;
}
.progress-bar {
  position: relative;
  width: 79%;
  height: 100%;
  background: #eee;
  border-radius: 25px;
  overflow: hidden;
}

.progress-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(99, 104, 173, 1);
  border-radius: 15px;
  transition: width 0.5s ease-in-out;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}

.progress-label {
  margin-left: 0.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.progress-percentage {
  font-weight: bold;
  margin-left: 1rem;
}

.line-service-1 {
  left: 13%;
  bottom: -10%;
  max-width: 5%;
  position: absolute;
}
.line-service-2 {
  left: 3%;
  bottom: 16%;
  max-width: 8%;
  position: absolute;
}

.line-service-multi {
  right: 0%;
  bottom: 10%;
  max-width: 17%;
  position: absolute;
}

.progress-button {
  position: absolute;
  top: 1%;
  right: 8%;
  width: 28%;
  height: 13%;
}
@media (min-width: 1440px) {
  .info-progress {
    width: 90%;
  }
}
@media (max-width: 1028px) {
  .services-carousel {
    margin-bottom: 0rem;
  }
  .info-details {
    flex-direction: column;
  }
  .info-progress {
    display: none;
  }
  .info-progress-mobil {
    display: flex;
    width: 100%;
    min-height: 50vh;
    justify-content: center;
  }
  .info {
    width: 50%;
  }
  .visual {
    width: 50%;
    display: flex;
  }

  .service-text {
    width: 100%;
  }
  .service-options {
    width: 100%;
  }
  .line-service-1 {
    display: none;
  }
  .line-service-2 {
    display: none;
  }
  .progress-slider {
    background-color: rgb(9, 17, 0);
  }
}

@media (max-width: 768px) {
  .info {
    width: 100%;
    margin: 0;
  }
  .info-details {
    padding: 1rem;
  }
  .visual {
    align-self: center;
    width: 80%;
    height: 80vh;
    margin-bottom: 4rem;
  }
  .services-carousel {
    flex-direction: column;
  }
  .info-progress-mobil {
    min-height: 37vh;
  }
}
