.services-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.service-options {
  margin-top: 1rem !important;
}
.service-option {
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 3.2rem;
}
.service-option.active {
  margin-left: 0;
  color: #6bfbce;
}

.service-option:hover {
  opacity: 0.7;
}

.service-option.active:hover {
  opacity: 1;
}
.green-line {
  margin-right: 1rem;
}

.visual {
  position: relative;
}
.visual-base {
  width: 100%;
  display: none;
}

.visual-img {
  width: 100%;
}
.visual-label-container {
  position: absolute;
  bottom: 1%;
  left: 15%;
  z-index: 1000;
}
.image-slider {
  position: absolute;
}

.info {
  margin-top: 3rem !important;
}
.info-progress {
  position: relative;
}
.info-progress-mobil {
  position: relative;
  display: none !important;
}

.progress-slider {
  position: absolute;
  top: 0;
  background-image: url("/service-images/progress-base.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.progress-base {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.progress-element {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.progress-container {
  margin-left: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.progress-row {
  width: 100%;
  height: 50%;
}
.progress-bar {
  position: relative;
  background-color: white !important;
  border-radius: 25px;
  height: 35px;
  overflow: hidden;
  @media (max-width: 768px) {
    height: 25px;
  }
}

.progress-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(99, 104, 173, 1);
  border-radius: 15px;
  transition: width 0.5s ease-in-out;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}

.progress-label {
  font-weight: bold;
}

.progress-percentage {
  height: 60%;
  font-weight: bold;
}
.progress-button {
  width: 36% !important;
  margin-bottom: 10px !important;
  margin-right: 10px;
}

.progress-button-row {
  display: flex !important;
  justify-content: end;
}

.line-service-2 {
  left: -10%;
  bottom: 20%;
  max-width: 15% !important;
  position: absolute;
}

.line-service-multi {
  right: 0%;
  bottom: -5%;
  max-width: 45%;
  position: absolute;
}

@media (min-width: 1440px) {
}
@media (max-width: 992px) {
  .info-progress {
    display: none !important;
  }
  .info-progress-mobil {
    display: block !important;
  }
  .progress-container {
    margin-left: 0;
  }
  .progress-slider {
    background-image: url("/service-images/progress-base-mobile.png");
  }

  .progress-button {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .visual-base {
    display: block;
    visibility: hidden;
  }

  .visual-img {
    width: 85%;
  }

  .image-slider-container {
    display: flex;
    justify-content: center;
  }
}
