.scroll-mask-container {
  height: 250vh;
  position: relative;
}

.scroll-content {
  position: sticky;
  top: 0;
  height: 100vh;
  background: url("../../../assets/pixado-background.png") no-repeat top center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.text-mask {
  width: 100%;
  height: 100%;
  font-family: Tilt Warp;
  font-size: 18rem;
}
.mask-container {
  height: 100%;
  width: 100%;
}

@media (max-width: 1028px) {
  .scroll-mask-container {
    height: 180vh;
  }
  .text-mask {
    font-size: 12rem;
  }
}
@media (max-width: 768px) {
  .scroll-content {
    height: 100vh;
  }
  .scroll-mask-container {
    height: 180vh;
  }
  .text-mask {
    font-size: 6rem;
  }
}
