.scroll-mask-container {
  height: 250vh;
  position: relative;
}

.scroll-content {
  position: sticky;
  top: 0;
  height: 100vh;
  background: url("../../../assets/pixado-background.png") no-repeat top center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.text-mask {
  width: 100%;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 3rem;
}
.mask-container {
  height: 100%;
  width: 100%;
}

@media (min-width: 1028px) {
}

/* Extra Large Screens (1440px and above) */
@media (max-width: 1440px) {
}

/* Mobile Screens (Below 768px) */
@media (max-width: 1028px) {
  .scroll-mask-container {
    height: 180vh;
  }
  .text-mask {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .scroll-content {
    height: 70vh;
  }
  .scroll-mask-container {
    height: 70vh;
  }
  .text-mask {
    font-size: 1.5rem;
  }
}
