.banner-container {
  margin-top: 5rem;
  margin-bottom: 13rem;
  overflow: hidden;
}
.banner-content {
  position: relative;
  align-items: center;
}
.banner-services {
  align-self: center;
}

.banner-image {
  z-index: 1000;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-wallpaper-wrapper {
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.5);
  mask-image: url("/banners/subtract-copy.png");
  mask-size: 100% 100%;
  padding: 1px;
  height: 100%;
  max-width: 100%;
}

.banner-wallpaper {
  width: 100%;
  mask-image: url("/banners/subtract-copy.png");
  mask-size: 100% 100%;
  object-fit: cover;
  height: 100%;
  display: block;
}

.projects-count-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 4%;
  width: 35%;
  padding: 7% 4%;
  background-color: rgba(37, 38, 35, 1);
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  gap: 7px;
  align-items: center;
  overflow: hidden;
}

.projects-count {
  color: rgba(107, 251, 206, 1);
}

.projects-text {
  color: rgba(252, 255, 249, 1);
  font-size: 13px;
  opacity: 0.7;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.banner-labels {
  display: flex;
  flex-wrap: wrap;
}
.banner-label {
  border-radius: 2rem;
  padding: 0.6rem;
  border: solid 3px rgba(37, 38, 35, 1);
  margin-right: 5%;
  white-space: nowrap;
  z-index: 99999;
}

.line-group-1 {
  right: 30%;
  bottom: -25%;
  max-width: 10vh;
  position: absolute;
}
.banner-motion {
  z-index: 1000;
  position: relative;
  height: 100%;
  max-width: 100%;
}
.line-group-2 {
  right: 95%;
  bottom: 40%;
  max-width: 12vh;
  position: absolute;
}

.line-group-multi {
  left: -100%;
  bottom: -25%;
  max-width: 32vh;
  position: absolute;
}
.rotating-label-container {
  position: absolute;
  bottom: 20%;
  right: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .banner-services {
    margin-bottom: 5rem;
  }

  .line-group-1 {
    right: 10%;
    max-width: 7vh;
  }

  .line-group-multi {
    left: 0%;
    max-width: 22vh;
  }
}

@media (max-width: 768px) {
  .alaturi {
    display: none;
  }
}
