.pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: #252623;
  height: 150px;
  width: 100%;
  padding-top: 1rem;
}
.pack-wrapper {
  margin-bottom: -4rem;
  @media (max-width: 768px) {
    padding: 0 3rem;
  }
}
.price-card {
  height: 100%;
  width: 100%;
  mask-image: url("/service-images/price-card.png");
  mask-size: 100% 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.price-card-pack {
  background-color: #6368ad;
}
.price-card-normal {
  background-color: #252623;
}

.price-card-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  mask-image: url("/service-images/price-card.png");
  mask-size: 100% 100%;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.price-card-container {
  height: 580px;
  width: 100%;
  position: relative;
  @media (max-width: 768px) {
    padding: 0 3rem;
  }
  @media (max-width: 1024px) {
    height: 550px;
  }
}
.price-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.price {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #6bfbce;
}
.price-card-links {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.link::before {
  content: "✓";
  color: white;
  margin-right: 8px;
}
.price-card-button {
  position: absolute;
  z-index: 5000;
  bottom: 10px;
  left: 25px;
  width: 35%;
  height: 8%;
  @media (max-width: 768px) {
    left: 55px;
  }
}
.card-text {
  height: 50px;
}
.price-card-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

.price-card-pixado {
  opacity: 20%;
}
