.swiper-pagination-bullet {
  background-color: #252623 !important;
  width: 12px !important;
  height: 12px !important;
  z-index: 10000 !important;
}
.swiper-pagination-bullet-active {
  background-color: #6bfbce !important;
}
.swiper-pagination {
  @media (max-width: 768px) {
    padding-left: 3rem;
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price-list-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
