/* Rotating Label */

.rotating-label-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotating-label {
  animation: rotate-infinite 9s linear infinite;
  position: absolute;
}
.vector {
  position: absolute;
}

@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MarqueeText */

.marquee-container {
  margin-bottom: 10rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.marquee {
  animation: 5s marquee infinite linear;
  display: inline-block;
}

.marquee-reverse {
  animation: 5s marquee-reverse infinite linear;
  display: inline-block;
}

.marquee-item {
  text-align: center;
  display: inline-block;
}
.marquee-contact {
  color: rgba(107, 251, 206, 1);
}
.marquee-contact::before {
  content: "•";
  color: rgba(107, 251, 206, 1);
  margin-right: 10px;
  font-size: 4rem;
  text-align: center;
}

.marquee-image {
  max-width: 100%;
  height: 150px;
  object-fit: contain;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Large Screens (1028px and above) */
@media (min-width: 992px) {
  .rotating-label {
    max-width: 9vw;
  }
  .vector {
    max-width: 2vw;
  }
}

/* Extra Large Screens (1440px and above) */
@media (min-width: 1540px) {
  .rotating-label {
    max-width: 7vw;
  }
  .vector {
    max-width: 2vw;
  }
}

/* Tablets and Medium Screens  */
@media (max-width: 992px) {
  .rotating-label {
    max-width: 9vw;
  }
  .vector {
    max-width: 3vw;
  }
}

/* Mobile Screens (Below 768px) */
@media (max-width: 768px) {
  .rotating-label {
    max-width: 16vw;
  }
  .vector {
    max-width: 4vw;
  }
}
