.rich-text {
  margin-bottom: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lumina {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8),
    0 0 6px rgba(255, 255, 255, 0.6), 0 0 12px rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
  margin: 0rem 1rem;
}
.desktop-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tablet-text {
  display: none;
}
.mobile-text {
  display: none;
}

@media (max-width: 1028px) {
  .desktop-text {
    display: none;
  }
  .tablet-text {
    display: block;
  }
}

@media (max-width: 768px) {
}
