/* PRODUCT CARD */

.project {
  box-sizing: border-box;
  width: 100%;
  height: 60%;
}
.project-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-image .background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: url("/project-images/project-card.png");
  mask-image: url("/project-images/project-card.png");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.project-details {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
}

.title-date-container {
  display: flex;
  align-items: center;
}

.project-date {
  margin-right: 1rem;
}

.project-title::before {
  content: "•";
  color: white;
  margin-right: 12px;
  font-size: 1rem;
}

/* PRODUCT LIST */

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem 12rem;
  padding: 2rem;
  justify-content: center;
  position: relative;
  margin-bottom: 10rem;
}

.projects-list-title {
  position: absolute;
  top: -2rem;
  left: calc(50% + 6.5rem);
  width: calc(50% - 13rem);
}
.first-row-title::before {
  content: "•";
  color: white;
  margin-right: 12px;
  font-size: 1rem;
}
.first-row-title {
  margin-left: 0.5rem;
}
.project:nth-child(odd) {
  margin-top: 10rem;
}
