@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");

/* Typography */
.h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 70px;
  font-weight: bold;
  line-height: 130%;
}

.h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 50px;
  font-weight: medium;
  line-height: 120%;
}

.h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  font-weight: medium;
  line-height: 120%;
}

.h4 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 130%;
}

.menu-body-bold {
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 120%;
}

.menu-body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  font-weight: regular;
  line-height: 120%;
}

.eyebrow-body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  font-weight: regular;
  line-height: 120%;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: regular;
  line-height: 140%;
}

.details-regular {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: regular;
  line-height: 140%;
}

.details-medium {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: medium;
  line-height: 140%;
}

.button-body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: regular;
  line-height: 120%;
}

@media (min-width: 1440px) {
  .h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 130%;
  }
}
/* Tablet Styles */
@media (max-width: 1028px) {
  .h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 70px;
    font-weight: bold;
    line-height: 130%;
  }

  .h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 35px;
    font-weight: medium;
    line-height: 120%;
  }

  .h3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: medium;
    line-height: 120%;
  }

  .h4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 130%;
  }

  .menu-body-bold {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
  }

  .menu-body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: regular;
    line-height: 120%;
  }

  .eyebrow-body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: regular;
    line-height: 120%;
  }
  .body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
    line-height: 140%;
  }
  .details-regular {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: regular;
    line-height: 140%;
  }

  .details-medium {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: medium;
    line-height: 140%;
  }

  .button-body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
    line-height: 120%;
  }
}
/* Mobile Styles */
@media (max-width: 768px) {
  .h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 55px;
    font-weight: bold;
    line-height: 130%;
  }

  .h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: medium;
    line-height: 120%;
  }

  .h3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: medium;
    line-height: 120%;
  }

  .h4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 130%;
  }

  .menu-body-bold {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
  }

  .menu-body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: regular;
    line-height: 120%;
  }

  .eyebrow-body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: regular;
    line-height: 120%;
  }
  .body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
    line-height: 140%;
  }

  .details-regular {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: regular;
    line-height: 140%;
  }

  .details-medium {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: medium;
    line-height: 140%;
  }

  .button-body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
    line-height: 120%;
  }
}
