@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");

/* Typography */
.title-1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 130%;
}

.title-2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}

.title-3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
}

.title-4 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.menu-body-bold {
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}

.menu-body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
}

.eyebrow-body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.details-regular {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.details-medium {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.button-body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

@media (min-width: 1500px) {
  .title-1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 130%;
  }
  .title-3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 29px;
    font-weight: 500;
    line-height: 120%;
  }
  .body {
    font-size: 20px;
  }
}
/* Tablet Styles */
@media (max-width: 1028px) {
  .title-1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 130%;
  }

  .title-2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 120%;
  }

  .title-3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
  }

  .title-4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
  }

  .menu-body-bold {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
  }

  .menu-body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
  }

  .eyebrow-body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }
  .body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
  .details-regular {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  .details-medium {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }

  .button-body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
}
/* Mobile Styles */
@media (max-width: 768px) {
  .title-1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 130%;
  }

  .title-2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 120%;
  }

  .title-3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 120%;
  }

  .title-4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
  }

  .menu-body-bold {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
  }

  .menu-body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
  }

  .eyebrow-body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }
  .body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  .details-regular {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  .details-medium {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }

  .button-body {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 120%;
  }
}
