.info-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info-icon {
  width: 70px;
  height: 70px;
}
.info-col-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
